.menu-link:first-child{
    color:#fff;
    background-color: #536dfe;
}
.menu-link:hover{
    background-color: #f1f5f9;
    color: #1e293b;
}
.menu-link:first-child:hover{
    background-color: #536dfe;
    color: #fff;
}
.button-cancel:hover{
    background-color: #fff;
}
.button-save:hover{
    background-color: #4053c9;
}
.input-container:focus{
    outline: none;
    border: 1.5px soild #536dfe
}